footer{
    background-image: url(../images/footer_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    color: white;
    
}

#footer{
    border: solid green;
}

#baniere{
    width: 100%;
    background-color: $rode ;
    height: 80px;
    // margin-right: 300px;
}