header{
   width: 100%;
   padding: 0%;
   margin: 0%;
}

header>div{
    width: 97.9%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}

#whatever{
    font-size: 30px;   
}
#taste{
    color: $rode;
}


.carousel_slide>div>div>img{
    filter: brightness(10%);
}

.carousel-inner{
    display: flex;
    align-items: center;
}

.carousel-inner>:last-child{
   width: 100%;
   display: flex;
   flex-direction: column;
//   justify-content: center;
}

.carousel-inner>:last-child>p{
    justify-content: center;
    text-align: center;
}

#paragraphes{
    position: absolute;
    justify-content: center;
    align-items: center;
}

#paragraphes>p{
    width: 100%;
    font-size: 45px;
    font-family: 'Courgette', cursive;
    color: white;
}

@media (min-width:760px) and (max-width:1024px){
    header{
        width: 800px;
        height: 100%;
    }
}